*all.tar*
*assig2.doc*
*bmps.tar*
*code2.txt*
*code.txt*
*edit.exe*
*frosty.jpg*
*gone_fishing.bmp*
*large.txt*
*Lego-big.gif*
*medium.txt*
*texts.tar*
*wacky.bmp*
*winnt256.bmp*
path.txt
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

*.xml
*.swp
*.properties

# Ignore Test txt files #
*.txt
!info_sheet.txt
!results.txt
*.lzw
*.xlsx
*.7z
*.db

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Project2/nbproject/private/
/Project2/build/
